torch~=1.7.1
torchvision~=0.8.2
torchsummary~=1.5.1
sklearn~=0.0
opencv-python==4.1.0.25
Pillow~=8.1.0
numpy~=1.19.5
matplotlib~=3.3.2
torchtext~=0.6.0
pandas~=1.2.2
scikit-learn~=0.24.1
tqdm~=4.55.1
seaborn~=0.11.1
keras~=2.2.4